<div class="container-fluid">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title"> D' autres renseignements à ajouter</h4>
  
          </div>
          <div class="card-body">
            <form [formGroup]="stepFiveForm" (ngSubmit)="stepFiveSubmit()" autocomplete="off" novalidate #formRef="ngForm">
   
  
                <div class="row">
                    <div class="col-md-12">
                           <h3>Si vous avez d'autres renseignements à ajouter au niveau de tous les tableaux </h3>
                      <mat-form-field class="example-full-width">
                         <textarea matInput placeholder="  décrivez les en indiquant la partie concernée."></textarea>
                       </mat-form-field>
                    </div>

              </div>
  
               
  
              <div class="buttons">
                <div class="button">
                  <button class="button previous" cdkStepperPrevious class="btn btn-info pull-left">Precident</button>
                </div>
                <div class="button">
                  <button mat-raised-button type="submit" cdkStepperNext class="btn btn-info pull-right"
                    cdkStepperNext>Suivant</button>
                </div>
              </div>
  
  
  
            </form>
          </div>
        </div>
      </div>
  
    </div>
  </div>
