<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Declaration Table</h4>
                        <p class="card-category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <textarea [(ngModel)]="xmlContent" rows="100" class="form-control"></textarea>
                        <button mat-raised-button class="custom-button" style="margin-left: 10px;" (click)="SaveXml()" >Enregistrer</button>
                        <button mat-raised-button class="custom-button" style="margin-left: 10px;" (click)="DownloadXml()" >Exporter</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
